#header-ico
{
	display: none;
}

#header-text
{
	width: 100%;
}

#header-content
{
	width: 90%;
}

header
{
	height: auto;
	padding-bottom: 75px;
}

#page-content
{
	width: 95vw;
	margin: 0 auto;
}

.section h2
{
	display: block;
	height: 7.4vw;
	vertical-align: top;
	font-size: 4vw;
	line-height: 4vw;
	border-bottom: var(--indexYellow) .75vw solid;
	margin: 20px 0 0 -4px;
	padding-left: 6%;
	font-weight: 600;
}

.section p
{
	color: white;
	display: block;
	font-size: 3vw;
	width: 85%;
	padding-left: 4.9%;
}
